<div class="container">
  <h1>Edit Task</h1>
  <!-- form_with will build the form using the empty instance you give it -->
  <!-- <form action="/tasks" method="post"></form> -->
  <%= render 'tasks/form' %>
</div>
